[Desktop Entry]
Name=Oreneta
Comment=Modern mail and feed client
Exec=/app/bin/oreneta %u
Type=Application
Categories=Network;Email;Feed;
Icon=io.github.adilelhaji.oreneta
MimeType=x-scheme-handler/mailto;
